<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="principal.css" rel="stylesheet" />
    <title>Carrito</title>
</head>

<body>

    <main>
        <div id="contenedor-modal" data-size="carrito-modal-card-template"></div>
        <div class="contenedor-finalizar-compra">
            <div class="total-precio">
                <span class="total-text">Total:</span>
                <span id="precio-final">{{precioFinal}}</span>
            </div>
            <div class="buy-section">
                <button>Finalizar compra</button>
            </div>
        </div>

        <div id="card-container" class="contenedor-resultados grid-template">
        </div>
        <div id="pagination-container">
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../views/carrito.js" type="module"></script>
<script src="../views/modal.js" type="module"></script>

</html>