<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="principal.css" rel="stylesheet" />
    <title>Coleccion</title>
</head>

<body>
    <div id="wrapper">
        <div id="contenedor-modal" data-size="modal-card-template"></div>

        <main>
            <div id="card-container" class="row make-columns">
            </div>
            <div id="pagination-container">
            </div>
        </main>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../views/coleccion.js" type="module"></script>

</html>