<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="principal.css" rel="stylesheet" />
    <title>Coleccion</title>
</head>

<body>

    <main>
        <div id="card-container" class="contenedor-resultados grid-template">
        </div>
        <div id="pagination-container"></div>
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../views/contenidoDinamico.js" type="module"></script>
<script src="../views/modal.js" type="module"></script>
<script src="../controllers/modal.js" type="module"></script>
<script src="../controllers/filtros.js" type="module"></script>
</html>