/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
html {
  height: 100%;
}

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Grid Template */
.grid-template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1em;
}

header h1 {
  font-size: 1.2em;
  text-align: center;
}

.contenedor-logo,
.contenedor-titulo,
.contenedor-barras {
  display: flex;
  align-items: center;
}

.contenedor-logo {
  grid-column: span 2;
}

.contenedor-titulo {
  grid-column: span 8;
  text-align: center;
}

.contenedor-barras {
  grid-column: span 2;
}

header img {
  max-width: 100%;
  height: auto;
}

/* Navigation */

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  padding: 1em 1em 0;
}

nav ul li {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #1560bd;
}

/* Main Content */

main {
  padding: 0 1em;
}
/* Search Container */
.contenedor-busqueda {
  padding: 1em 0 0;
  margin-bottom: 1em;
}

.contenedor-input-busqueda {
  display: flex;
  align-items: center;
}

.contenedor-input-busqueda input {
  flex: 1;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 0.5em 0 0 0.5em;
  height: 3em;
}

.contenedor-input-busqueda img {
  height: 2.5em;
  margin-left: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenedor-input-busqueda img:hover {
  background-color: #ddd;
}

.filtros {
  margin-top: 1em;
}

.filtro-categoria {
  grid-column: span 12;
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

.filtro-categoria label,
select {
  grid-column: span 6;
  height: 1.5em;
}

/* Cards */
.contenedor-tarjeta {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  grid-column: span 12;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.imagen-tarjeta {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

.titulo-tarjeta {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.5em;
}

.precio {
  color: green;
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 0.5em;
  display: block;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.modal-contenido {
  background-color: white;
  padding: 0 1em;
  position: relative;
}

.titulo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.modal-titulo {
  width: 90%;
  font-size: 1.2em;
  margin: 0;
}

.artista {
  font-size: 0.7em;
}

.cerrar-modal {
  width: 40px;
  cursor: pointer;
}

.imagen-modal {
  width: 100%;
  display: block;
}

/* Share and Collect */
.compartir-coleccionar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.contenedor-imagen-modal {
  border-radius: 0.5em;
  overflow: hidden;
}

.compartir-coleccionar .izquierda,
.compartir-coleccionar .derecha {
  flex: 1;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.compartir-coleccionar .separador {
  width: 1px;
  background-color: #ccc;
}

/* Body when Modal is Open */
body.modal-abierto {
  overflow: hidden;
}

/* Card Box */
.card-box {
  border: 1px solid #ddd;
  border-radius: 1em;
  overflow: hidden;
  background-color: #fff;
  margin: 1em auto;
}

.top-section {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.top-section div {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}

.price-section {
  text-align: center;
  margin: 1em 0;
}

.precio-modal {
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 0.5em;
  display: block;
}

.buy-section {
  text-align: center;
  font-size: 1.2em;
  background-color: #28a745;
  border-top: 1px solid #ddd;
}

.buy-section button {
  width: 100%;
  padding: 0.75em 1.5em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.buy-section button:hover {
  background-color: #218838;
}

#detalles-modal hr {
  margin: 1.2em 0;
}

.nombre-caracteristica {
  font-weight: bold;
  display: block;
}

.contenedor-caracteristica {
  padding-bottom: 1em;
}

.opcion-tamano {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.opcion-tamano.seleccionado {
  background-color: #333;
  color: #fff;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 0.4em;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.prev,
.next {
  font-size: 1em;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  margin-top: 1em;
}

/* Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Person Container */
.contenedor-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contenedor-contacto {
  margin: 1em 0;
}

.datos-persona {
  font-size: 1em;
  text-align: center;
  padding-bottom: 1em;
}

.imagen-persona img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  padding-bottom: 1em;
}

/* Iframe */
iframe {
  width: 90vw;
  height: 90vw;
  background: black;
}

#contenedor-mapa {
  padding-top: 1em;
}

/* notififaciones*/
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
}