/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
html {
  height: 100%;
}

.imagenApi {
  background-color: #888;
}

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111;
}

  #wrapper {
    background-color: #eee;
  }

/* Grid Template */
.grid-template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.row.make-columns {
  column-count: 1;
  /* Four columns */
  column-gap: 1em;
  /* Space between columns */
}

.row.make-columns > div {
  break-inside: avoid; /* Prevents items from breaking between columns */
  display: inline-block; /* Ensures items behave as blocks */
  padding: 0.5rem;
  width: 100%; /* Ensure items take full width of the column */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 1px solid #bbb;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  margin-bottom: 0.5em; /* Space between items */
  transition: box-shadow 0.3s ease; /* Agrega transici칩n para la sombra */
}

.row.make-columns > div:hover {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5); /* Sombra m치s grande y oscura al hacer hover */
}



/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1em;
  background-color: white;
}

header h1 {
  font-size: 1.2em;
  text-align: center;
}

.contenedor-logo,
.contenedor-titulo,
.contenedor-barras {
  display: flex;
  align-items: center;
}

.contenedor-logo {
  grid-column: span 2;
}

.contenedor-titulo {
  grid-column: span 8;
  text-align: center;
  margin: auto;
}

.contenedor-barras {
  grid-column: span 2;
}

#menu-toggle {
  max-width: 100%;
  height: auto;
}

#publicidad {
  display: none;
}

/* Navigation */

#nav-menu {
  display: none;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  padding: 0.5em 1em 0;
}

nav ul li {
  border: 1px solid #bbb;
  background-color: #f9f9f9;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.5em;
}

nav ul a {
  text-decoration: none;
  color: #1560bd;
}

/* Main Content */

main {
  padding: 0 1em;
  min-height:80vh;
}

/* Search Container */
.contenedor-busqueda {
  padding: 1em 0 0;
  margin-bottom: 1em;
}

.contenedor-input-busqueda {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping */
  width: 100%; /* Ensure it doesn't exceed the container width */
}

.contenedor-input-busqueda input {
  flex: 1;
  padding: 0.75em;
  border: 1px solid #bbb;
  border-radius: 0.5em 0 0 0.5em;
  height: 2.5em;
  min-width: 0; /* Ensures input shrinks with smaller screens */
  max-width: calc(100% - 3em);
}

.contenedor-input-busqueda img {
  height: 2.5em;
  margin-left: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenedor-input-busqueda img:hover {
  background-color: #ddd;
}

.filtros {
  margin-top: 1em;
}

.filtro-categoria {
  grid-column: span 12;
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

.filtro-categoria label,
select {
  grid-column: span 6;
  height: 1.5em;
}

.filtro-categoria select {
  border-radius: 0.5em;
}
/* Cards */
.contenedor-tarjeta {
  border: 1px solid #bbb;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  grid-column: span 12;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}


.imagen-tarjeta {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
}

.titulo-tarjeta {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.5em;
}

.precio {
  color: green;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.5em 0;
  display: block;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.modal-contenido {
  background-color: white;
  padding: 0 1em;
  position: relative;
}

.titulo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.modal-titulo {
  width: 90%;
  font-size: 1.2em;
  margin: 0;
}

.artista {
  font-size: 0.9em;
}

.cerrar-modal {
  width: 40px;
  cursor: pointer;
}

.imagen-modal {
  /*width: 100%;*/
  width: auto;
  display: block;
}

/* Share and Collect */
.compartir-coleccionar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #bbb;
  background-color: #f9f9f9;
}

#resultado-compartido {
  background-color: white;
  width: 100%;
  margin: 1em 1em 0 0;
  padding-left: 1em;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  padding-bottom: 1em;

}

#resultado-compartido img {
  max-height: 90vh;
  margin: auto;
}


.contenedor-imagen-modal {
  border-radius: 0.5em;
  overflow: hidden;
}

.compartir-coleccionar .izquierda,
.compartir-coleccionar .derecha {
  flex: 1;
  padding: 0.4em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.compartir-coleccionar .izquierda a,
.compartir-coleccionar .derecha a {
  text-decoration: none;
  color: black;
}


.compartir-coleccionar img {
  height: 1.5em;
}

.compartir-coleccionar .separador {
  width: 1px;
  background-color: #ccc;
}

/* Body when Modal is Open */
body.modal-abierto {
  overflow: hidden;
}

/* Card Box */
.card-box {
  border: 1px solid #bbb;
  border-radius: 1em;
  overflow: hidden;
  background-color: #fff;
  margin: 1em auto;
}

.top-section {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.top-section div {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}

.price-section {
  text-align: center;
  margin: 1em 0;
}

.precio-modal {
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 0.5em;
  display: block;
}

.buy-section {
  text-align: center;
  font-size: 1.2em;
}

.buy-section button {
  width: 100%;
  padding: 0.75em 1.5em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  font-weight: bold;
}

.buy-section button:hover {
  background-color: #218838;
}

#detalles-modal hr {
  margin: 1.2em 0;
}

.nombre-caracteristica {
  font-weight: bold;
  display: block;
}

.contenedor-caracteristica {
  padding-bottom: 1em;
}

.opcion-tamano {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.opcion-tamano.seleccionado {
  background-color: #333;
  color: #fff;
}

#sin-contenido {
  font-size: 2em;
  color: #333;
  width: 100%;
  display: block;
  text-align:center;
  padding-top: 1em;
}
/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 0.4em;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 0.5em 1em;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.prev,
.next {
  font-size: 1em;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  margin-top: 1em;
}

/* Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Person Container */
.contenedor-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contenedor-contacto {
  margin: 1em 0;
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
}

.datos-persona {
  font-size: 1em;
  text-align: center;
  padding-bottom: 1em;
}



.imagen-persona img, .datos-persona img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  padding: 1em;
}

/* Iframe */
iframe {
  width: 90vw;
  aspect-ratio: 1;
  background: black;
}


/* notififaciones*/
.notification {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: white;
  padding: 1em;
  background-color: #28a745;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 99000;
  font-weight: bold;
  width: 80%;
  /* Adjust this to make it wider or narrower */
  max-width: 885px;
  /* Optional: Limit the maximum width */
}

/* pagina carrito */
.tama침o {
  font-weight: bold;
}

.contenedor-finalizar-compra {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  background-color: white;
}

.contenedor-finalizar-compra p {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.total-precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.total-text {
  font-weight: normal;
}

#precio-final {
  font-weight: bold;
  color: green;
}

.quitar-contenedor {
  padding: 1em 2em;
}

.cantidad-botones {
  display: flex;
  justify-content: space-between;
  /* Alinea la cantidad a la izquierda y los botones a la derecha */
  align-items: center;
  /* Centra verticalmente los elementos */
  padding: 1em 1em;
  height: 2em;
}

.cantidad {
  font-size: 1.3em;
}

.tamano {
  padding: 0.5em;
}

.botones-mas-menos img {
  height: 1.75em;
  padding-left: 0.5em;
}

/* encuesta */
.campo_requerido {
  color: red;
}

.formulario_general input[type="text"],
.formulario_general input[type="date"],
.formulario_general select,
.formulario_general textarea {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.formulario_general input[type="text"],
.formulario_general input[type="date"],
.formulario_general select {
  height: 2em;
}

.formulario_general {
  font-weight: bold;
}

.formulario_general span.campo_requerido {
  color: red;
  font-weight: bold;
}

.formulario_general .botones {
  display: flex;
  justify-content: space-between;
  /* Espacio entre botones */
}

.botones {
  height: 2.6em;
}

.botones button {
  padding: 0.5em;
  width: 100%;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  font-weight: bold;
}

.formulario_general button {
  font-size: 1.2em;
  margin-right: 10px;
}

.encuesta {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em 0;
  box-sizing: border-box;
}

.botonEnviar {
  background-color: #218838;
}

.botonCancelar {
  background-color: red;
}

.botonReset {
  background-color: #555;
}


@media (min-width: 480px) {

  .row.make-columns {
    column-count: 2;
    /* Four columns */
  }

  header h1 {
    font-size: 1.8em;
  }

  #menu-toggle {
    max-width: 70%;
  }

  .contenedor-input-busqueda input {
    height: 3em;
    font-size: 1.2em;
  }

  .contenedor-input-busqueda img {
    height: 3.5em;
  }

  .artista {
    font-size: 1.1em;
  }
  header {
    height: 115px;
  }

  .contenedor-logo img {
    height: 75px;
  }



}

@media (min-width: 650px){

  nav ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .contenedor-barras {
    display: none;
  }

  #nav-menu {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .notification {
    width: 50%;
  }

  .row.make-columns {
    column-count: 3;
    /* Four columns */
  }
  .modal-contenido {
    padding-bottom: 1em;
  }

  .contenedor-grid-imagen-datos {
    display: flex;
    /* Use flexbox to align children */
    gap: 1em;
  }

  .contenedor-imagen-modal {
    flex-grow: 1;
    /* Allow this element to take the remaining space */
  }

  .contenedor-datos-modal {
    min-width: 350px;
    /* Fixed width for the right element */
  }

  .card-box {
    margin-top: 0;
  }
}
@media (min-width: 1024px)
{
  .notification {
    width: 35%;
  }
  .contenedor-flex {
    display: flex;

  }

  #resultado-compartido {
    width: 100%;
    margin: 1em 1em 0 0;
    padding-left: 1em;
    border: 1px solid #bbb;
    
  }

  #publicidad {
    display: block;
    width: auto; /* Mantiene la relaci칩n de aspecto */
    float: right;
  }
  .contenedor-barras{
    display: block;
    overflow: hidden; /* Opcional: evita el desbordamiento */

  }
  #menu-toggle {
    display:none;
  }
  .contenedor-barras
  {
    grid-column: span 3;
  }
  .contenedor-titulo{
    grid-column: span 7;
  }
  .contenedor-imagen-modal img {
    max-height: 80vh;
  }
.modal-contenido
{
  max-width: 1024px;
  margin-top: 1em;
}
.filtros
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
.filtro-categoria 
{
  grid-column: span 1;
}
.filtro-categoria label, select
{
  grid-column: span 12;
}
.modal-titulo
{
  font-size: 1.5em;
}

.contenedor-contacto
{
display: flex;
}
.contacto-izquierd {
  width: 25%; /* 1/3 del ancho */
}

.contacto-derecho {
  width: 75%; /* 2/3 del ancho */
  padding-left: 1em;
}
iframe {
  width: 67vw;
  max-width: 888px;
}
}
@media (min-width: 1280px)
{
  #wrapper {
    max-width: 1280px;
    width:1280px;
    margin:auto;
    background-color: #eee;
  }
  .row.make-columns {
    column-count: 3;
    /* Four columns */
  }
}

.derecha.en-coleccion {
  background-color: #ff0000; /* Rojo tenue */
  color: white;
}
